<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>멤버 페이지.</title>
</head>
<body>
<ul>
	<li sec:authorize="hasRole('USER')"> USER 권한자만 보이기.</li>
	<li sec:authorize="hasRole('MEMBER')"> MEMBER 권한자만 보이기.</li>
	<li sec:authorize="hasRole('ADMIN')"> ADMIN 권한자만 보이기.</li>
</ul>

<div sec:authorize="isAuthenticated()">인증된 사용자만 보는 내용.</div>

<div sec:AUTHENTICATION="name"></div>
<div sec:AUTHENTICATION="principal.authorities"></div>


<div class="form-group">

	<tr th:each="member : ${member}">
        <td th:text="${member.email}"></td><br>
        <td th:text="${member.password}"></td><br>
        <td th:text="${member.name}"></td><br>
        <td th:text="${member.address}"></td><br>
        <td th:text="${member.phone}"></td><br>
        <td th:text="${member.role}"></td><br>
        <td th:text="${member.point}"></td>
    </tr>
</div>

</body>
</html>